@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-color: #0591b2;
  --small-text-color: #565656;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;

  background-color: white;
  display: flex;
  flex-direction: column;
  height: 150vh;
  margin: 0;
  padding: 0;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  clip-path: polygon(50% 0%, 100% 0, 100% 33%, 0 100%, 0 100%, 0 0);
  z-index: -1;
}

header {
  z-index: 0;
  position: relative;
}
.header-container {
  display: flex;
  position: relative;
  margin: 2rem 1rem;
  justify-content: center;
  max-width: 100%;
}
.img-container {
  min-width: 280px;
  min-height: 300px;
  max-width: 400px;
  max-height: 450px;
  object-fit: cover;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.bottom-center {
  position: absolute;
  bottom: 2%;
  right: 50%;
  color: white;
  font-size: 2.5rem;
  transform: translate(50%, -10%);
}
.header-main {
  display: grid;
  background-color: white;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 1000px;
  align-self: center;
  box-shadow: 0px 9px 45px -19px rgba(66, 68, 90, 1);
}
.header-desc {
  color: var(--small-text-color);
}

.icon-container {
  display: flex;
  justify-content: end;
}
.header-title {
  align-self: end;
}
.header-icons img {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}
main {
}
.main-container {
  display: grid;
  justify-content: center;
}
.main-container > p {
  font-size: 2rem;
  font-weight: 500;
}
.card-container {
  display: grid;
  box-shadow: 2px 2px 20px -5px rgba(66, 68, 90, 1);
}
.card-top {
  min-width: 100px;
  min-height: 200px;
  max-width: 400px;
  font-size: 4rem;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #9e1d1c;
  color: white;
  font-weight: 400;
}

.card-desc-header {
  font-size: 1.5rem;
  padding: 0.9rem;
  display: flex;
  align-items: center;
}
.project-title {
  flex: 1;
}
.project-icons {
  display: flex;
  gap: 1rem;
}
.card-desc-header img,
.card-desc-header svg {
  max-width: 30px;
  max-height: 30px;
  min-height: 25px;
  max-height: 25px;
}
.card-desc-main {
  font-size: 1.1rem;
  padding: 0 0.9rem;
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  color: var(--small-text-color);
}
@media (max-width: 900px) and (min-width: 601px) {
  .header-container {
    display: block;
    padding: 5% 15%;
  }
  .header-desc {
    padding: 1rem;
  }
  .img-container {
    float: left;
    max-width: 200px;
    max-height: 300px;
    margin: -1rem 0;
    transform: translate(-10%, -10%);
  }
  .header-main {
    display: block;
    float: none;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    gap: 2rem;
    max-width: 100%;
    align-content: center;
    margin: 1rem;
  }
  .header-desc,
  .header-title {
    padding: 1rem;
  }
  .header-main {
    justify-self: center;
  }
  .header-title {
    justify-self: center;
  }
  .img-container {
    align-self: center;
    justify-self: center;
    max-width: 200px;
    max-height: 250px;
  }
}
