@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-color: #0591b2;
  --small-text-color: #565656;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  background-color: white;
  display: flex;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  padding: 0;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  clip-path: polygon(50% 0%, 100% 0, 100% 33%, 0 100%, 0 100%, 0 0);
  z-index: -1;
}

header {
  z-index: 0;
  position: relative;
  padding-bottom: 5%;
}
.header-container {
  display: flex;
  position: relative;
  margin: 2rem 1rem;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.img-container {
  min-width: 280px;
  min-height: 300px;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.bottom-center {
  position: absolute;
  bottom: 2%;
  right: 50%;
  color: white;
  font-size: 2.5rem;
  transform: translate(50%, -10%);
}
.header-main {
  display: grid;
  background-color: white;
  gap: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  max-width: 900px;
  min-height: 300px;
  align-self: center;
  box-shadow: 0px 9px 45px -19px rgba(66, 68, 90, 1);
  line-height: 1.5rem;
}
.header-desc {
  color: var(--small-text-color);
}

.icon-container {
  display: flex;
  justify-content: end;
}
.header-title {
  align-self: end;
}
.header-icons img {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}
main {
}
.main-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(100px, 400px));
  column-gap: 2.5rem;
  row-gap: 3rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.main-container-header {
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1/4;
  justify-self: start;
}
.card-container {
  display: grid;
  box-shadow: 2px 2px 20px -5px rgba(66, 68, 90, 1);
}
.card-top {
  min-width: 100px;
  min-height: 200px;
  max-width: 400px;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #9e1d1c;
  color: white;
  font-weight: 400;
}

.card-desc-header {
  font-size: 1.5rem;
  padding: 0.9rem;
  display: flex;
  align-items: center;
}
.project-title {
  flex: 1;
}
.project-icons {
  display: flex;
  gap: 1rem;
}
.card-desc-header img,
.card-desc-header svg {
  max-width: 30px;
  max-height: 30px;
  min-height: 25px;
  max-height: 25px;
}
.card-desc-main {
  font-size: 1.1rem;
  padding: 0 0.9rem;
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  color: var(--small-text-color);
}
footer {
  background-color: var(--bg-color);
  color: white;
  margin-top: 4%;
}
.footer-container {
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-rows: repeat(6, minmax(20px, 80px));
}
footer svg {
  max-width: 30px;
  max-height: 30px;
  min-width: 25px;
  min-height: 25px;
}
@media (max-width: 1000px) and (min-width: 601px) {
  .header-container {
    display: block;
    padding-top: 3%;
  }
  .header-desc {
    padding: 1rem;
  }
  .img-container {
    float: left;
    min-width: 150px;
    max-height: 200px;
    max-width: 300px;
    margin: -1rem 0;
    transform: translate(-10%, -10%);
  }
  .header-main {
    display: block;
    float: none;
    margin: 0;
  }
  .main-container {
    grid-template-columns: repeat(2, minmax(100px, 250px));
    justify-content: center;
    column-gap: 1rem;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .main-container-header {
    font-size: 2rem;
    font-weight: 500;
    grid-column: 1/3;
    justify-self: center;
  }
  .card-top {
    font-size: 2.5rem;
  }
  .card-container {
    min-width: 250px;
    max-height: 350px;
  }
}
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    gap: 2rem;
    align-content: center;
  }
  .header-desc,
  .header-title {
    padding: 1rem;
  }
  .header-main {
    justify-self: center;
  }
  .header-title {
    justify-self: center;
  }
  .img-container {
    align-self: center;
    justify-self: center;
    max-width: 200px;
    max-height: 250px;
  }
  .main-container {
    grid-template-columns: repeat(1, minmax(100px, 350px));
  }
  .main-container-header {
    font-size: 2rem;
    font-weight: 500;
    grid-column: 1/2;
    justify-self: center;
  }
  .card-top {
    font-size: 3rem;
  }
  .card-container {
    min-width: 300px;
    max-height: 350px;
  }
}
