@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-color: #0591b2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  clip-path: polygon(50% 0%, 100% 0, 100% 33%, 0 100%, 0 100%, 0 0);
  z-index: -1;
}

header {
  z-index: 0;
  position: relative;
}
.header-container {
  display: flex;
  position: relative;
  margin: 2rem 1rem;
  font-family: "Playfair Display", serif;
  justify-content: center;
  max-width: 100%;
}
.img-container {
  min-width: 280px;
  min-height: 300px;
  max-width: 300px;
  max-height: 450px;
  object-fit: cover;
  position: relative;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.bottom-center {
  position: absolute;
  bottom: 2%;
  right: 50%;
  color: white;
  font-size: 2.5rem;
  transform: translate(50%, -10%);
}
.header-main {
  display: grid;
  background-color: white;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 500px;
  align-self: center;
  box-shadow: 0px 9px 45px -19px rgba(66, 68, 90, 1);
}

.icon-container {
  display: flex;
  justify-content: end;
}
.header-title {
  align-self: end;
}
.header-icons img {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 900px) and (min-width: 601px) {
  .header-container {
    display: block;
    padding: 5% 15%;
  }
  .img-container {
    float: left;
    max-width: 200px;
    max-height: 300px;
    margin: -1rem 0;
    transform: translate(-10%, -10%);
  }
  .header-main {
    display: block;
    float: none;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    gap: 2rem;
  }
  .img-container {
    align-self: center;
  }
}
